{% extends 'base.html'%}

{% block content%}
<div class="p-4 flex flex-col ">
  {%include 'navbar.html'%}

    <div class="p-4 sm:p-10 md:self-center mt-5 bg-slate-900 rounded-lg ">
        <div class="mb-10"><p class="text-2xl font-bold">Add New Student</p></div>
        <form method="post" class="" action="/create">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% for field,value in fields.items()%}
            <div class="flex flex-row items-center justify-between gap-4 ">
                <label class="col-4">{{field|upper}}</label>
                <input class="bg-slate-700 p-2 rounded-lg text-slate-200"  type="text" name="{{field}}"class="col-8 mb-2" value="{{value}}"/>
            </div>
            {% endfor %}
        </div>
        <div class="flex flex-row items-center justify-between gap-4 mt-4">
            <label class="col-9"></label>
        <input class="bg-green-500 p-2 rounded-lg" type="submit" value="Create"/>
    </div>
        </form>
       
       </div>
</div>


{% endblock%}