{%extends 'base.html'%}

{%block content%}

<nav class="p-3 flex flex-row items-center justify-between bg-gradient-to-l text-white to-slate-800 from-gray-900 ">
    <p class="font-extrabold text-4xl">Student List</p>
    <a href="/login">Login</a>
  </nav>

  <div class="mt-10 sm:m-10 rounded-lg bg-gradient-to-l text-white to-slate-800 from-gray-900  text-white p-3 flex flex-row justify-between items-center">
    <h2 class="font-extrabold text-4xl">Hello! <br>Welcome to Our Store</h2>
    <img src="../static/images/banner.png" class="w-1/4"/>
  </div>

{%endblock%}